.react-monaco-editor-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}
  
.monaco-editor {
    font-family: 'Fira Code', monospace;
  }
.margin-view-overlays{
  opacity: 0.4;
  border-right: 1px solid #07A7C3;
  background-blend-mode:difference;
}

@media (max-width: 385px) {
  .buttons {
      display: none;
    }
}

.code-editor{
  min-width: 400px;
  min-height: 100vh;
  height: 100%;
}

@media (max-width: 900px) {
 
}





