.editor-class {
    /* min-height: 90vh; */
    height: 100%;
}

.show-editor {
    min-height: 90vh;
    height: 90%;
}

.flex-display{
    display: flex;
}

.hide-display{
    display: hidden;
}

@media (max-width: 768px) {
    .console-gpt{
        min-height: 100vh;
    }
   
}

@media (min-width: 0px) and (max-width: 950px) {

    .show-buttons {
      display: flex;
      flex-direction: row;
    }
    .editor-class{
        width: 100%;
    }

.console-gpt{
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
    align-items: center;
    margin: auto;
}

 .console{
    width: 80%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    }

.gpt{
    width: 80%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

  }
  
@media (min-width: 950px) {

    .show-buttons {
      display: none;
      margin-bottom: 1rem;
    }
    .console-gpt{
        height: 100%;
        min-height: 100%;
        max-height: 100%;
        overflow: hidden;
    }
    
     .console{
        height: 600px;
        min-height: 100%;
        max-height: 100%;
        }
    
    .gpt{
        height: 600px;
        min-height: 100%;
        max-height: 100%;
    }

   
}
