.editor-class {
    /* min-height: 90vh; */
    height: 100%;
}

.show-editor {
    min-height: 90vh;
    height: 90%;
}

.flex-display{
    display: flex;
}

.hide-display{
    display: hidden;
}


@media (min-width: 0px) and (max-width: 850px) {

    .show-buttons {
      display: flex;
      flex-direction: row;
      
    }

    .editor-class{
        width: 100%;
    }

    .console-gpt{
        width: 100%;
        height: 100%;
        min-height: 100vh;
        min-width:100vw ;
        overflow: hidden;
    }

    .console{
        min-width: 100vw;
        min-height: 100vh;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .gpt{
        min-width: 100vw;
        min-height: 100vh;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

  }
  
@media (min-width: 850px) {

    .show-buttons {
      display: none;
      margin-bottom: 1rem;
     
    }

    .editor-class{
        width: 65%;
    }

    .console-gpt{
        width: 35%;
    }

    .console{
        width: 100%;
        height: 45%;
    }

    .gpt{
        width: 100%;
        height: 45%;
    }
}
