@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600&family=Open+Sans:wght@300&family=Ubuntu:wght@300;400&display=swap');


.gpt-window-text{
    font-family: Ubuntu,Helvetica,Arial,sans-serif;

}
.text-data{
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
    font-weight: 400;
    

}