.gpt-output-console{
  min-height: 250px;
  height: 250px;
}

.gpt-output-console::-webkit-scrollbar {
    width: 8px;
  }
  
  .gpt-output-console::-webkit-scrollbar-track {
    background: white;
    border-radius: 8px;
    margin:5px;
  }
  
  .gpt-output-console::-webkit-scrollbar-thumb {
    background: #5867EA;
    border-radius: 8px;
  }
