.question-flow{
    box-shadow: rgba(0.8, 0.5, 0.5, 0.9) 0px 22px 70px 4px;

}

.start-data {
    position: absolute;
    display: none;
  }
  
.question-flow .start-data {
display: block;
}

.start-data{
    animation: moveTrain 10s linear infinite; /* 5s duration, linear movement, infinite loop */
}

@keyframes moveTrain {
    0% {
      left: -250px; /* Initial position */
    }
    100% {
      left: 50%; /* Move train to the right end */
    }
  }

@media (max-width:1000px) {
    .question-main{
        height: 500px;
    }
   
}

@media (max-width:500px) {

    .question-main{
        height: 900px;
    }
}

@media (max-width:440px) {

    .question-main{
        height: 1000px;
    }
}
