.language-header{
    font-size: 38px;
    font-weight: 300;
    width: 100%;
    color: white;
}
.language-text{
    font-size: 18px;

}

.common-margin{
    margin-left: 20%;
}

.languages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
}
.animation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.coding-gif{
    width: 450px;
    height: 450px;
    border-radius: 5px;
}

@media (max-width:1000px) {
    .animation{
        display: none;
    }
    .languages{
        width: 60%;
        align-items: center;
        gap: 2rem;
    }
    .language-header{
        justify-content: center;
        text-align: center;
    }
    .language-text{
        text-align: center;
    }
    .common-margin{
        margin: auto;
    }
    .language-header{
        font-size: 32px;
    }
    .language-text{
        font-size: 18px;
    }
}

@media (max-width:500px) {

    .languages{
        width: 90%;
    }
    .language-header{
        font-size: 28px;
    }
    .language-text{
        font-size: 16px;
    }
}