.common-margin-language{
    margin-left: 20%;
}

.language-header{
    font-size: 38px;
    font-weight: 300;
    width: 100%;
    color: white;
}
.language-text{
    font-size: 18px;
}

.languages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
}
.language-animation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.coding-gif{
    width: 450px;
    height: 450px;
    border-radius: 5px;
}

@media (max-width:1000px) {


    .common-margin-language{
        margin:0px;
    }

    .common-margin{
        margin: 0;
        margin-left: 0px;
    }

    .languages{
        width: 80%;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .language-header{
        justify-content: center;
        text-align: center;
        font-size: 32px;
    }

    .language-text {
        display: flex;
        justify-content: center;
        text-align: center;
        width: fit-content;
        margin: auto;
        font-size: 18px;
    }
    .language-animation{
        display: none;
    }
}

@media (max-width:500px) {

    .languages{
        width: 90%;
    }
    .language-header{
        font-size: 28px;
    }
    .language-text{
        font-size: 16px;
    }
}