@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;400&family=Ubuntu:wght@300;400&display=swap');


.card-css{
    border: 1px solid rgb(173, 216, 230, 0.1);
    color:#4C5ADF;
}

.card-css:hover{
    transition: transform 0.2s;
    transform: scale(1.1);
    background: transparent;
    box-shadow: 0 3px 3px 0 rgba(249, 248, 248, 0.1);
}