.custom-scrollbar {
    /* For Webkit (Chrome, Safari) */
    scrollbar-width: thin;
    scrollbar-color: #4C5ADF #011627;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #011627;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4C5ADF;
    border-radius: 8px;
  }
  