@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.span{
    font-weight: 500;
}
.problem-name{
    font-size: 18px;
    color: #02203C;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.25px;
    
}