/* Base styles */
.team-member {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }
  
  .team-img {
    max-width: 175px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
    margin-bottom:10px;
  }
  .team-img:hover {
    scale: 1.1;
    transition: all 0.2s;
  }
  
  .team-details {
    flex: 1;
  }

  .team-name {
    font-size: 2rem;
    margin: 0px;
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
  }
  
  .team-position {
    font-size: 20px;
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
  }
  
  .team-info {
    font-size: 1.1rem;
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
 }
  
  /* Responsive styles */
  @media (max-width: 768px) 
    {
        .team-member {
        flex-direction: column;
        align-items: center;
    }
    .team-img {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  