/* Base styles */
.team-member {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    font-size:2rem;
    line-height:1.2;
    display: block;
    font-size: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.2;
    word-break: break-word;
    font-weight: 800;
    color: black;
    font-family: IBM Plex Sans,sans-serif;
  }
  
  .team-img {
    max-width: 175px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
    margin-bottom:10px;
  }
  .team-img:hover {
    scale: 1.1;
    transition: all 0.2s;
  }
  
  .team-details {
    flex: 1;
  }

  .team-name {
    font-size: 2rem;
    margin: 0px;
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
    letter-spacing: 0px;
  }
  
  .team-position {
    font-size: 20px;
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
  }
  
  .team-info {
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 300;
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
 }
  
  /* Responsive styles */
  @media (max-width: 768px) 
    {
      .team-name{
        font-size: 1.5rem;
      }
      .team-info{
        font-size: 16px;
      }
      .team-position{
        font-size: 18px;
      }
        .team-member {
        flex-direction: column;
        align-items: center;
    }
    .team-img {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 500px) 
  {
    .team-name{
      font-size: 1.25rem;
    }
    .team-info{
      font-size: 14px;
    }
    .team-position{
      font-size: 17px;
    }
      .team-member {
      flex-direction: column;
      align-items: center;
  }
  .team-img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
  