.alpha{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
}

.common-margin{
    margin-left: 20%
}

.alpha-header{
    font-size: 32px;
    font-weight: 300;
    color: white;
    font-family: IBM Plex Sans,sans-serif;

}

.alpha-text{
    font-size: 18px;
}

.div-alpha{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 45%;
}

.alpha-grid{
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 600px;
    height: 100%;
    width: 50%;
}

.alpha-img{
    width: 650px;
    height: 350px;
    transition: transform 2s ease;
    background: linear-gradient(60deg,rgba(225,225,225,.25),hsla(25,50%,100%,.25));
    transform: scale(1.5) translateX(20%);
}

.alpha-img:hover{
    transform: scale(2) translateX(-30%);
    transition: 1s all;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes skewYAnimation {
    0% {
      transform: skewY(0deg);
    }
    100% {
      transform: skewY(360deg);
    }
  }

@media (max-width:1000px) {
    .alpha-grid{
        display: none;
    }
    .div-alpha{
        margin:0px;
        width: 80%;
        text-align: center;
        gap: 2rem;
    }
    .alpha-header{
        text-align: center;
        margin: auto;
    }
    .alpha{
        width: 100%;
        margin: auto;
        text-align: center;
        align-items: center;
        height: 850px;
    }
    .alpha-text{
        margin: auto;
    }
    .alpha-cards{
        margin: auto;
    }
}

@media (max-width:500px) {
    .div-alpha{
        width: 90%;

    }
    .alpha-header{
        font-size: 28px;
    }
    .alpha-text{
        font-size: 16px;
    }
}