.alpha{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.common-margin{
    margin-left: 20%
}

.alpha-header{
    font-size: 32px;
    font-weight: 300;
    color: white;
    font-family: IBM Plex Sans,sans-serif;
}

.alpha-text{
    font-size: 18px;
}

.div-alpha{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.alpha-grid{
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 600px;
    height: 100%;
    width: 50%;    
}


.alpha-img{
    width: 80%;
    height: 400px;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes skewYAnimation {
    0% {
      transform: skewY(0deg);
    }
    100% {
      transform: skewY(360deg);
    }
  }

  @media (max-width:1200px) {
    .alpha-grid{
        width: 55%;
    }
}

@media (max-width:1000px) {
    .alpha-grid{
        display: none;
    }
    .div-alpha{
        margin:0px;
        width: 80%;
        text-align: center;
        gap: 2rem;
    }
    .alpha-header{
        text-align: center;
        margin: auto;
    }
    .alpha{
        width: 100%;
        margin: auto;
        text-align: center;
        align-items: center;
        height: 850px;
    }
    .alpha-text{
        margin: auto;
    }
    .alpha-cards{
        margin: auto;
    }
}

@media (max-width:500px) {
    .div-alpha{
        width: 90%;

    }
    .alpha-header{
        font-size: 28px;
    }
    .alpha-text{
        font-size: 16px;
    }
}