@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;400&family=Ubuntu:wght@300;400&display=swap');


.card-css{
    /* border: 1px solid rgb(173, 216, 230, 0.1); */
    border: none;
    color:#4C5ADF;
}

.card-css:hover{
    transition: transform 0.2s;
    transform: scale(1.1);
    background: transparent;
    border: 1px solid rgb(173, 216, 230, 0.1);
}

@media (max-width:500px){
    .card-css{
        width: 310px;
        margin: auto;
        margin-bottom: 10px;
    }
    .text-2xl{
        font-size: 22px;
    }
}

@media (max-width:400px){
    .card-css{
        width: 285px;
        margin: auto;
        margin-bottom: 10px;
    }
    .text-2xl{
        font-size: 20px;
    }
}