/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600&family=Ubuntu:wght@300;400&display=swap');


.close{
    font-size: 34px;
    font-weight: bolder;
    color:whitesmoke;
}
.popup-content {
    width: 1000px;
    max-width: 1000px;
    min-width: 400px;
    overflow: auto;
    height: fit-content;
    height: 600px;
    max-height: 600px;
}
.modal {
    border-radius: 5px;
    background: #00182D;
    
    
}
.content{
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.025em;
    background: #00182D;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    line-height: inherit;
    font-weight: lighter;
}
.popup-content {
    margin: auto;
    background: #4C5ADF;
    width: 35%;
    padding: 5px;
  }

  .popup-arrow {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }

  .my-popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
  }
  .my-popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].my-popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .my-popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].my-popup-overlay {
    background: transparent;
  }

  .popup-content {
    border-radius: 5px;
    padding: 0.5rem;
  }
  
  html[data-theme='dark'] .popup-content {
    background-color: rgb(41, 45, 62);
    color: #fff;
    border: 1px solid #9a9595;
  }
  
  html[data-theme='light'] .popup-content {
    background-color: #fff;
    color: #000;
    border: 1px solid #d7d7d7;
  }
  
  html[data-theme='dark'] .popup-arrow > svg {
    color: rgb(41, 45, 62);
    stroke-width: 2px;
    stroke: #9a9595;
    stroke-dasharray: 30px;
    stroke-dashoffset: -54px;
  }
  
  html[data-theme='light'] .popup-arrow > svg {
    color: #fff;
    stroke-width: 2px;
    stroke: #d7d7d7;
    stroke-dasharray: 30px;
    stroke-dashoffset: -54px;
  }

  
.popup-content {
    scrollbar-width: thin;
    scrollbar-color: #4C5ADF #011627;
  }
  
  .popup-content::-webkit-scrollbar {
    width: 8px;
  }
  
  .popup-content::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .popup-content::-webkit-scrollbar-thumb {
    background: #00182D;
    border-radius: 8px;
  }
   */

.explore-container-content{
  width: 600px !important;
}