.product-item{
    border: none;
}
.product-item:hover{
    color: whitesmoke !important;
    /* background: #BB20DD; */
    background:#890023;
    transition-duration: 200ms;
}
.product-xblogs:hover{
    color: whitesmoke !important;
    background: #890023;
    transition-duration: 200ms;
}
/* .product-item.text-p:hover{
    color: whitesmoke ;
} */

/*  */