.react-monaco-editor-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}
  
.monaco-editor {
    font-family: 'Fira Code', monospace;
  }
.margin-view-overlays{
  opacity: 1;
  border-right: 1px solid #4C5ADF;
}

.code-editor {
  min-width: 400px;
  min-height: 100vh;
  height: 100%;
}

.side-menu{
    display:none;
}

@media (max-width: 385px) {
  
  .editor-logo{
    display: none;
  }
  .button-disappear {
      display: none;
      width: 0px;
    }
}



@media (max-width: 1050px) {
    .logo{
     margin-left: 10px;
     margin-right: 10px;
    }
    .language-button{
      display: none;
    }
    .side-menu{
      display: flex;
    }
}

@media (max-width: 480px) {
  .editor-logo{
   display: none;
  }
}






