.code-problem{
    width: 100%;
    flex-grow: 1;
    padding: 2rem;
  }
  
.code-problem::-webkit-scrollbar {
    width: 8px;
}

.code-problem::-webkit-scrollbar-track {
    background: white;
    border-radius: 8px;
    margin:5px;
}

.code-problem::-webkit-scrollbar-thumb {
    background: #5867EA;
    border-radius: 8px;
}

/* styles/problemLayout.css */

/* Default styles */
.code-problem {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;
    white-space: pre;
    overflow-x: auto; /* Add this to enable horizontal scrolling */
    border-radius: 0.25rem;
    padding: 1rem;
  }
  
  .problem-example{
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
    
  }

  .problem-question{
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
  }
  
  .h-16 {
    height: 4rem;
  }
  
  .w-full {
    width: 100%;
  }
  
  @media screen and (max-width: 767px) {
    .code-problem {
      padding: 15px;
    }
  
  }
  
  